CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE_NAMES="msm8992-p1_global_com-rev-a msm8992-p1_global_com-rev-b msm8992-p1_global_com-rev-c msm8992-p1_global_com-rev-10"
CONFIG_TOUCHSCREEN_LGE_SIC=y
CONFIG_TOUCHSCREEN_SIC_FW_PATH="p1"
CONFIG_LGE_MMC_DYNAMIC_LOG=y
CONFIG_MACH_MSM8992_P1_GLOBAL_COM=y
CONFIG_LGE_QFPROM_SECHASH="01048fd7d1dfd846cd13b53584b692e66ac553616d452ab7e096e65aafdd25c7"
